.movie__list {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin: 0 auto;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
  @media (max-width: 1300px) {
    max-width: 776px;
  }
  @media (max-width: 900px) {
    justify-content: center;
  }
}