@import '../../../styles/mixins.scss';
.movies__header {
  @include flex(column);
  gap: 16px;
  flex-wrap: wrap;
}
.rated__header {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  margin-bottom: 16px;
  gap: 16px;
  @media (max-width: 600px) {
    justify-content: center;
  }
}