@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.navbar {
  @include flex(column);
  width: 280px;
  min-height: 100vh;
  padding: 24px;
  gap: 80px;
  box-sizing: border-box;
  background: $white-purple-color;

  &__list {
    @include flex(column);
    gap: 16px;
  }
  &__link {
    @include flex(row, flex-start, center);
    @include text(16px, 400, 140%, $black-color);
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    &:hover {
      background: $purple-light-color;
      color: $purple-color;
    }
    &[data-active] {
      &,
      &:hover {
        font-weight: 700;
        color: $purple-color;
        background: $purple-light-color;
      }
    }
  }
  
}
