@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.container {
  margin: 0 auto;
  position: relative;
  padding: 0;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
}
.responsiveMainContainer {
  @include flex(column);
  max-width: 980px;
  gap: 24px;

  @media (max-width: 1300px) {
    max-width: 95%;
    padding: 8px 20px;
    padding-bottom: 20px;
  }

  @media (max-width: 600px) {
    max-width: 100%;
    padding: 8px 5px;
  }
}
.responsiveCardContainer {
  max-width: 800px;
  padding-bottom: 367px;
  @media (max-width: 1150px) {
    padding-top: 15px;
  }

  h2 {
    @include text(14px, 400, 20px, $purple-color);
    letter-spacing: 0px;
  }
}

.violet__button {
  @include flex(row, center, center);
  border-radius: 8px;
  background: $purple-color;
  @media (max-width: 800px) {
    @include text(14px, 400, 16px, $white-color);
    width: 80px;
  }
  &:hover {
    background: $light-purple-color;
  }
  &:active {
    background: $dark-purple-color;
  }
}

.main__title {
  @include text(32px, 700, 140%);
  @media (max-width: 1300px) {
    @include text(24px, 600, 40px);
  }
}

.button__none {
  @include flex(row, center, center);
  background: none;
  &:hover {
    background: none;
  }
}

.select {
  @include flex(column);
  gap: 8px;

  &__wrapper {
    height: 42px;
    padding: 0;
    margin: 0;
    [data-position="right"] {
      right: 12px;
      @include flex(row, stretch, center);
      @media (max-width: 600px) {
        right: 5px;
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    width: 283.67px;
    height: 42px;
    border: 1px solid $grey-line-color;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 12px;
    cursor: pointer;
    &[data-expanded="true"] {
      border: 1px solid $purple-color;
    }
    @media (max-width: 600px) {
      width: 240px;
      height: 42px;
      gap: 0;
      padding: 0 5px;
    }

    span {
      @include text(14px, 400, 20px, $grey-no-poster-color);
      letter-spacing: 0px;
    }
  }
  &__group {
    gap: 5px;
  }

  &__label {
    @include text(16px, 700, 140%);
    letter-spacing: 0%;
  }
}