@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.flex {
  @include flex(row, stretch, center);
  align-self: flex-end;
  flex-wrap: nowrap;
  max-height: 48px;

  &__title {
    @include text(16px, 400, 19px, $grey-color);
    width: 140px;
  }
  
  &__description {
    @include text-overflow(100%, 40px, 2);
    @include text(16px, 400, 20px, $black-color);
    letter-spacing: 0px;
    
  }
  @media (max-width: 900px) {
    max-height: inherit;
    @media (max-width: 900px) {
      @include text-overflow(100%, inherit, 5);
    }
  }
}