@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

.card {
  &__movie {
    @include flex(row);
    gap: 16px;
    width: 482px;
    height: 218px;
    font-size: 16px;
    border-radius: 12px;
    position: relative;
    color: $grey-color;
    line-height: 19px;
    height: inherit;

    &__rating__button {
      position: absolute;
      right: 24px;
      right: 24px;
      z-index: 11;
      cursor: pointer;
      gap: 4px;
      [data-read-only="true"] {
        cursor: inherit;
      }
      &__grade {
        font-size: 16px;
        font-weight: 600;
      }
    }

    &__info {
      display: grid;
      align-items: start;
    }

    &__title {
      @include text-overflow(240px, 48px, 2);
      font-weight: 600;
      color: $purple-color;
      line-height: 24px;
      align-self: normal;
    }

    &__rating {
      @include flex(row, stretch, center);

      &__grade {
        font-weight: 600;
        color: $black-color;
        height: 20px;
        margin-left: 6.36px;
        margin-right: 8px
      }
    }
    &__genres {
      @include flex(row, stretch, baseline);
      align-self: flex-end;
      flex-wrap: nowrap;
      max-height: 48px;
      gap: 8px;
      &__list {
        @include text-overflow(100%, 40px, 2);
        color: $black-color;
        line-height: 20px;
        
      }
    }
  }
}