@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

.card {
  &__movie {
    @include flex(row);
    @include text(16px, 400, 19px, $grey-color);
    gap: 16px;
    border-radius: 12px;
    position: relative;
    padding: 24px;
    width: 482px;
    height: 218px;

    @media (max-width: 1300px) {
      padding: 10px;
      margin: 0 auto;
      height: 190px;
      max-width: 380px;
      @media (max-width: 500px) {
        @include flex(column, center, center);
        width: 240px;
        max-height: 500px;
        height: initial;
        flex-wrap: wrap;
        text-align: center;
        gap: 10px;
      }
    }

    &__full {
      @include flex(row);
      @include text(16px, 400, 19px, $grey-color);
      gap: 16px;
      border-radius: 12px;
      position: relative;
      padding: 24px;
      width: 100%;
      height: 400px;
      @media (max-width: 900px) {
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        @media (max-width: 500px) {
          @include flex(column, center, center);
          padding: 10px;
          width: 95%;
          height: initial;
          flex-wrap: wrap;
          text-align: center;
          gap: 10px;
        }
      }
    }
    &__img__small {
      width: 119px;
      height: 170px;
      .card__movie__img {
        width: 119px;
        height: 170px;
      }
      @media (max-width: 500px) {
        border-radius: 8px;
        img {
          border-radius: 8px;
        }
      }
    }
    &__img__big {
      width: 250px;
      height: 352px;
      .card__movie__img {
        width: 250px;
        height: 352px;
      }
      @media (max-width: 500px) {
        width: 119px;
        height: 170px;
        border-radius: 8px;
        .card__movie__img {
          width: 119px;
          height: 170px;
          border-radius: 8px;
        }
      }
    }

    &__rating__button {
      position: absolute;
      right: 24px;
      right: 24px;
      z-index: 11;
      cursor: pointer;
      gap: 4px;
      [data-read-only="true"] {
        cursor: inherit;
      }
      &__grade {
        font-size: 16px;
        font-weight: 600;
      }
      @media (max-width: 1300px) {
        right: 10px;
        top: 10px;
        gap: 2px;
      }
    }

    &__info {
      @include flex(column, space-between);
      width: 80%;
      @media (max-width: 500px) {
        gap: 2px;
        align-items: center;
      }
      &__main {
        @include flex(column, stretch, flex-start);
        gap: 8px;
        @media (max-width: 500px) {
          gap: 0px;
        }
      }
    }

    &__title {
      @include text-overflow(85%, 48px, 2);
      @include text(20px, 600, 24px, $purple-color);
      align-self: normal;

      @media (max-width: 1300px) {
        @include text-overflow(80%, 48px, 3);
        @include text(16px, 600, 16px, $purple-color);
        @media (max-width: 500px) {
          margin: 0 auto;
        }
      }
    }
    &__year {
      @media (max-width: 1300px) {
        @include text(14px, 400, 16px, $grey-color);
        @media (max-width: 500px) {
          text-align: center;
          width: 100%;
          margin-top: 5px;
        }
      }
      
    }
    &__rating {
      @include flex(row, stretch, center);
      height: 28px;
      @media (max-width: 500px) {
        margin: 0 auto;
      }

      &__grade {
        @include text(16px, 600, 20px, $black-color);
        margin-left: 4px;
        margin-right: 8px;
        @media (max-width: 1300px) {
          @include text(14px, 500);
        }
      }
      &__votes {
        @include text(16px, 400, 16px, $grey-color);
        height: 16px;
        @media (max-width: 1300px) {
          @include text(14px, 400, 16px, $grey-color);
        }
      }
    }
    &__addition {
      @include flex(row, stretch, baseline);
      gap: 8px;
      @media (max-width: 500px) {
        flex-direction: column;
        gap: 5px;
      }
    }
    &__description {
      @media (max-width: 1300px) {
        @include text(14px, 400, 16px, $grey-color);
        @media (max-width: 500px) {
          width: 100%;
          font-weight: 600;
          
        }
      }
    }
    &__value {
      @include text(16px, inherit, 20px, $black-color);

      @media (max-width: 1300px) {
        @include text(14px, 400, 16px, $grey-color);
      }
    }
  }
}