@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';

.card {
  &__movie {
    @include flex(row);
    @include text(16px, 400, 19px, $grey-color);
    gap: 16px;
    border-radius: 12px;
    position: relative;
    height: inherit;

    &__rating__button {
      position: absolute;
      right: 24px;
      right: 24px;
      z-index: 11;
      cursor: pointer;
      gap: 4px;
      [data-read-only="true"] {
        cursor: inherit;
      }
      &__grade {
        font-size: 16px;
        font-weight: 600;
      }
    }

    &__info {
      @include flex(column, space-between);
      width: 80%;
    }

    &__title {
      @include text-overflow(85%, 48px, 2);
      @include text(20px, 600, 24px, $purple-color);
      align-self: normal;
    }

    &__rating {
      @include flex(row, stretch, center);
      height: 28px;

      &__grade {
        @include text(16px, 600, 20px, $black-color);
        margin-left: 6.36px;
        margin-right: 8px;
      }
      &__votes {
        @include text(16px, 400, 16px, $grey-color);
        height: 16px
      }
    }
    &__description {
      @include text(16px, inherit, 20px, $black-color);
    }
  }
}