$white-color: white;
$white-grey-color: rgb(245, 245, 246);
$white-purple-color: rgb(242, 235, 249);
$grey-color: rgb(123, 124, 136);
$purple-light-color: rgb(229, 213, 250);
$purple-color: rgb(152, 84, 246);
$light-purple-color: rgb(189, 147, 247);
$dark-purple-color: rgb(84, 31, 157);
$black-color: rgb(0, 0, 0);
$grey-line-color: rgb(213, 214, 220);
$disabled-grey-color: rgb(234, 235, 237);
$logo-grey-border-color: rgb(241, 241, 241);
$grey-no-poster-color: rgb(172, 173, 185);
