@mixin flex($direction, $justify_content: stretch, $align: stretch) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify_content;
	align-items: $align;
}
@mixin text($size, $weight: 400, $line-height: 100%, $color: black) {
	font-family: 'Inter', sans-serif;
	font-size: $size;
	font-weight: $weight;
	line-height: $line-height;
	color: $color;
}
@mixin text-overflow($width, $height, $lines) {
	max-width: $width;
	max-height: $height;
	-webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  // overflow-wrap: break-word;
  text-overflow: ellipsis;
}