@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.pagination {
  align-self: flex-end;

  @media (max-width: 1300px) {
    justify-content: center;
    width: 100%;
  }

  &__button {
    @include flex(row, center, center);
    width: 32px;
    height: 32px;
    font-size: 16px;
    border: 1px solid $grey-line-color;
    border-radius: 4px;
    color: $black-color;
    cursor: pointer;
    background: $white-color;
    padding: 0px 8px 0px 8px;

    &:hover {
      background: $purple-color;
      color: $white-color;
      opacity: .7;
    }
    &:active {
      background: $dark-purple-color;
      opacity: 1;
    }
    
    &:disabled {
      border: 1px solid $disabled-grey-color;
      cursor: default;
      background: $white-color;
      &:hover {
        opacity: 1;
        background: $white-color;
        img {
          opacity: .5;
        }
      }
      svg {
        opacity: .5;
      }
    }

    &__active {
      background: $purple-color;
      color: $white-color;
    }
  }
}