@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.pagination {
  align-self: flex-end;
  &__button {
    @include flex(row, center, center);
    width: 32px;
    height: 32px;
    font-size: 16px;
    border: 1px solid rgb(213, 214, 220);
    border-radius: 4px;
    color: $black_color;
    cursor: pointer;
    padding: 0px 8px 0px 8px;
    &:hover {
      background: $purple-color;
      color: white;
      opacity: .7;
    }
    &:disabled {
      opacity: .5;
      cursor: default;
      &:hover {
        color: $black_color;
        background: transparent;
      }
    }
    &__active {
      background: $purple-color;
      color: white;
    }
  }
}