@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.select {
  @include flex(column);
  gap: 8px;

  &__wrapper {
    width: 284px;
    [data-position="right"] {
      margin: 0px 10px;
      @include flex(row, stretch, center);
    }
  }

  &__input {
    height: 42px;
    border: 1px solid $grey-line-color;
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
    }
  }
  
  &__label {
    @include text(16px, 700, 140%);
    letter-spacing: 0%;
  }
}