@import '../../styles/mixins.scss';
.container {
  &__title {
    margin-bottom: 40px;
    @media (max-width: 1300px) {
      margin-bottom: 20px;
      @media (max-width: 500px) {
        margin-bottom: 0;
      }
    }
  }
}

.movies__header {
  @include flex(column);
  gap: 16px;
  flex-wrap: wrap;
}