@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.modal {
  &__content {
    // width: 100%;
    max-width: 380px;
    // height: 208px;
    min-height: 208px;
    box-sizing: border-box;
    @media (max-width: 400px) {
      max-width: 300px;
      height: initial;
    }
  }
  &__header {
    @include flex(row, space-between, center);
    @include text(16px, 400, 140%);
    min-height: 54px;
    padding: 16px;
    padding-right: 11px;
    border-bottom: 1px solid $disabled-grey-color;
  }
  &__close__button {
    @include flex(row, stretch, center);
    cursor: pointer;
  }
  &__body {
    padding-top: 16px;
    @include flex(column, stretch);
    gap: 16px;
    height: 154px;

    &__title {
      @include text(16px, 700, 140%);
    }
  }

  &__rating {
    width: 348px;
    @include flex(row, space-between);
    @media (max-width: 400px) {
      width: 100%;
      & > div {
        width: 25px;
        height: 25px
      }
      
    }
  }
  &__save__button {
    @include text(14px, 700, 100%, $white-color);
    padding: 10px 20px 10px 20px;
    height: 40px;
    width: 74px;
  }
  &__remove__button {
    @include text(14px, 600, 100%, $purple-color);
    background: none;
    padding: 5px 0px;

    &:hover {
      background: none;
      color: $purple-color;
      opacity: .7;
    }
  }
}