@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.modal {
  border-radius: 8px;

  &__header {
    @include flex(row, space-between, center);
    padding: 16px;
    padding-right: 11px;
    line-height: 140%;
    border-bottom: 1px solid rgb(234, 235, 237);
    font-size: 16px;
  }
  &__close__button {
    @include flex(row, stretch, center);
    cursor: pointer;
  }
  &__body {
    padding: 16px;
    @include flex(column, stretch);
    gap: 16px;

    &__title {
      color: $black-color;
      font-weight: 700;
      line-height: 140%;
    }
  }

  &__rating {
    width: 100%;
    @include flex(row, space-between);
  }
  &__save__button {
    border-radius: 8px;
    background: $purple-color;
    padding: 10px 20px 10px 20px;
    color: white;
    height: 42px;
    width: 80px;
    font-size: 14px;
    font-weight: 700;
    &:hover {
      background: $purple-color;
      opacity: .8;
    }
  }
  &__remove__button {
    background: none;
    padding: 5px 0px;
    color: $purple-color;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      background: none;
      color: $purple-color;
      opacity: .7;
    }
  }
}