@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
.none__poster {
  @include flex(column, center, center);
  border: 1px solid $white-grey-color;
  gap: 4px;
  border: 1px solid rgb(245, 245, 246);
  background: $disabled-grey-color;

  &__image {
    margin: 4px 0;
    box-sizing: content-box;
  }

  &__text {
    @include text(12px, 500, 16px, $grey-no-poster-color);
  }
}