@import '../../../styles/colors.scss';

.logo {
  align-items: center;

  &__img {
    width: 32px;
    height: 32px;
  }

  &__title {
    width: 135px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.38px;
    font-style: normal;
    color: $purple-color;
  }
}