@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.search {
  @include flex(row, stretch, center);

  &__wrapper {
    @include flex(row, space-between, center);
    width: 490px;
    height: 48px;
    [data-position="right"] {
      @include flex(row, stretch, center);
      @media (max-width: 1300px) {
        justify-content: flex-end;
        right: 10px;
      }
    }
    @media (max-width: 1300px) {
      max-width: 300px;
      height: 40px;
      
      @media (max-width: 600px) {
        height: 30px;
      }
    }
  }

  &__input {
    @include text(14px, 400, 20px);
    height: inherit;
    border-radius: 8px;
    border: 1px solid $disabled-grey-color;
    &::placeholder {
      @include text(14px, 400, 20px, $grey-no-poster-color);
      letter-spacing: 0px;
    }
    &:focus {
      border: 1px solid $purple-color;
    }
  }

  &__button {
    @include text(14px, 600, 140%, $white-color);
    letter-spacing: 0%;
    padding: 6px 20px 6px 20px;
    width: 89px;
    height: 32px;
    @media (max-width: 1300px) {
      @include text(14px, 400, 100%, $white-color);
      max-width: 60px;
      height: 30px;
    }
    @media (max-width: 600px) {
      @include text(12px, 400, 100%, $white-color);
      max-width: 50px;
      height: 25px;
    }
  }
}